<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT US</title>
    <link rel="stylesheet" href="/static/css/contactus.css">
</head>
<body>
     <div class="contact-container">
        <!-- heading -->
          <div class="heading">
              <h2>Contact Us</h2>
          </div>
          <!-- conatct form -->
          <div class="contact-form">
                <div class="left-side">
                    <h2>Contact Us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quod excepturi corporis similique veritatis deleniti tempore animi, enim expedita voluptas minus dignissimos commodi necessitatibus. Repudiandae corrupti voluptas fugiat temporibus, praesentium autem deleniti aliquid excepturi, ex consectetur reprehenderit tenetur est blanditiis.</p>
                </div>
                <div class="right-side">
                   <form action="#" method="post">
                    <!-- row1 -->
                        <div class="row1">
                        <input type="text" name="username" id="username" placeholder="Username here">
                        <input type="date" name="date" id="date" placeholder="chosse date"> 
                        </div>
                        <!-- row2 -->
                       <div class="row2">
                        <input type="email" name="email" id="email" placeholder="Email here">
                       </div>
                       <!-- row3 -->
                       <div class="row3">
                        <input type="text" name="message" id="message" placeholder="Message here">
                       </div>
                       <div class="button ">
                        <button type="submit" class="btn btn-primary btn-block">Send</button>
                       </div>
                   </form>
                </div>
          </div>
     </div>
</body>
</html>