<!-- Modal -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #ffffffbd;height: 600px;overflow: scroll;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel"> Add Doctor Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
       <!-- body form -->
       <div class="container mt-5" >
        <div class="row justify-content-center">
          <div class="col-md-6" style="width: 100%;">
            <form method="post" action="{% url 'add_doctor' %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
              </div>
              <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" placeholder="Enter age" name="age">
              </div>
              <div class="form-group">
                <label for="disease">Specilist</label>
                <select class="form-control" id="specilist" name="specilist">
                  <option value="">Select Specilization</option>
                  <option value="child specilist">Child Specilist</option>
                  <option value="skin specilist">Skin Specilist</option>
                  <option value="eye specilist">Eye Specilist</option>
                  <option value="others">Others</option>
                </select>
              </div>
              <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date">
              </div>
              <div class="form-group">
                <label for="mobile">Mobile Number</label>
                <div class="input-group">
                  <div class="input-group-prepend" >
                    <select class="custom-select" id="countryCode" style="height: 100%;border-radius: 10px 0px 0px 10px;border-color: white;" name="mobile" >
                      <option value="1">+1</option>
                      <option value="91">+91</option>
                      <option value="44">+44</option>
                      <option value="92">+92</option>
                      <!-- Add more country codes as needed -->
                    </select>
                  </div>
                  <input type="text" class="form-control" id="mobile" placeholder="Enter mobile number" name="number">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
       <!-- end of form -->
      </div>
     
    </div>
  </div>
</div>