*{
    padding: 0%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}
.main{
    width: 100%;
    height: 100vh;
    background: white;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_box{
    width: 50%;
    height: 420px;
    min-width: 400px;
    min-height: 420px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius:10px ;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.heading{
    height: 15%;
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 6px;
}
.heading h1{
    filter: drop-shadow(3px 5px 6px black);
}
form{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form .inputs{
    display: flex;
    flex-direction: column;
    width: 80%;
}
form .inputs input{
    padding: 16px;
    border: 1px dashed rgba(37, 36, 36, 0.494);
    border-radius: 8px;
}
form .inputs input:active{
    border-color:  #1c089ad2;
    font-weight: bold;
}
form .inputs span{
    text-align: right;
}
form .inputs span a{
    color: rgb(49, 13, 255);
    cursor: pointer;
}
form  .button{
    width: 60%;
    margin-top: 10px;
}
form .button .btn{
    width: 100%;
    padding: 7px;
}
form .button a{
   color: rgb(0, 0, 0);
   font-weight: 300;
   text-align: center;
   text-shadow: 3px 4px 10px black;
}