*{
  margin: 0%;
  padding: 0%;
  font-family: 'Times New Roman', Times, serif;
}
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .side-bar{
    width: 20%;
    height: 100%;
    background-color: rgb(1, 3, 16);
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.main .side-bar .item1{
  height: 30%; 
}
.main .side-bar .item1 img{
 width: 100%;
 height: 100%;
 filter: drop-shadow(2px 2px 2px rgb(227, 226, 230));
}
.main .side-bar .item2{
  width: 100%;
  height: 70%;
}
/* MAIN SECTION CSS */
.main .main-section{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background:url('/static/images/background_admin.jpg');
  background-size: cover;
}
.main .main-section .heading
{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:transparent;
}
.main .main-section .heading h1{
  font-size: 40px;
  letter-spacing: 6px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  filter: drop-shadow(3px 5px 3px white);
}
.main .main-section .table-data{
  width: 100%;
  height: 80%;
}
.main .main-section .table-data #table{
  width: 100%;
  height: auto;
}
.main .main-section .table-data .tabless .search{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-bottom: 4px;
}
.main .main-section .table-data .tabless h1{
  color: white;
  width: 50%;
}
.main .humburger{
  display: none;
}

/* sidebar responsiveness */
@media (max-width:1200px) {
   .main .side-bar{
    display: none;
   }
   .main .main-section .heading h1{
    font-size: 30px;
   }
   .main .responsive-sidebar{
      display: flex;
      background-color: rgba(166, 165, 165, 0.435);
      position: absolute;
      top: 0px;
      left: 0px;
      width: 400px;
      z-index: 1;
   }
   .main .main-section{
    width: 100%;
   }
  .main{
    justify-content: start;
    align-items: start;
  }
  .main .humburger{
    position: absolute;
    top: 22px;
    left: 20px;
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 4px;
    z-index: 1;
  }
  .main .humburger .line{
    width: 100%;
    height: 8px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    
  }
  .main .main-section .table-data .tabless .search{
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .main .main-section .table-data .tabless .search h1{
    width: 100%;
  }

}
@media (max-width:450px) {
  .main .main-section .heading h1{
    display: none;
   }
}
.logout{
  position: absolute;
  top: 22px;
  right: 10px;
}